@media screen and (max-width:1800px){
  /* header */
  .gnb-tnb-wr {gap: 3.5vw;}

  /* main */
  .calendar-arrow.prev {left: 3vw;}
  .calendar-arrow.next {right: 3vw;}

}

@media screen and (max-width:1600px){
  /* header */
  .hd-gnb-ul {gap: 3.5vw;}

  /* main */
  .place-sl-temperature {font-size: 2.5rem;}
  .place-sl-name {font-size: 1.25rem;}

  /* 날갬카페 */
  .sub-cafe-slider {margin-right: min(10vw, 100px); margin-left: clamp(90px, calc(10vw + 10px), 110px);}
  .sub-cafe-slide {max-width: 100%;}
  .sub-cafe-sl-wr {margin: 0 3vw;}
  .sub-cafe-arrow.prev {left: 0; transform: translateX(0);}
  .sub-cafe-arrow.next {left: auto; right: 3vw; transform: translateX(50%);}
  .sub-cafe-sl-in {left: auto; right: 3vw; transform: translateX(50%);}
  .sub-cafe-sl-wr::after {font-size: 6rem; top: -1vw; left: -3vw;}
}

@media screen and (max-width:1440px){
  /* header */
  .hd-menu {position: fixed; right: 0; top: 0; padding: calc(30px + 8vh) 3vw; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, .9); overflow-y: auto; display: none;}
  .gnb-tnb-wr {flex-direction: column-reverse; justify-content: flex-end; overflow-y: auto;}
  .hd-tnb-ul {position: relative; gap: 0 5vw; align-items: center; padding-top: 5vh;}
  .hd-tnb-li--sch {position: fixed; top: 15px; left: 3vw; pointer-events: auto !important; opacity: 1; visibility: visible; width: calc(100% - 40px - 9vw);}
  .hd-sch-open {display: none;}
  .hd-sch-form {position: static; transform: translate(0); display: block !important; width: 100%;}
  .hd-sch {width: 100%; height: 50px; font-size: 1rem;}
  .hd-gnb-ul {flex-direction: column; gap: 5vh; padding-top: calc(20px + 4vh); text-align: center;}
  .hd-gnb-li {justify-content: center;}
  .hd-gnb-li a {font-size: clamp(1.5rem, 2.5vw, 40px);}
  .hd-tnb-li a, .goog-te-gadget .goog-te-combo, .hd-tnb-li--lang {font-size: clamp(1.125rem, 1.3vw, 20px);}
  .hd-tnb-li--store img {width: clamp(14px, 1.7vw, 22px); height: auto;}
  .hd-tnb-li--login img {width: clamp(13px, 1.5vw, 20px); height: auto; margin-bottom: -0.2vw; margin-right: 1.5vw;}
  .hd-tnb-li--lang .hd-lang-img {width: clamp(16px, 3vw, 22px);}
  .header.white .goog-te-gadget .goog-te-combo {background-size: clamp(16px, 3vw, 27px) !important;}
  .header.white .goog-te-gadget .goog-te-combo option {font-size: 1rem !important;}
  .hd-ham {display: block; position: relative; width: 40px; height: 20px; background-color: transparent; border: 0;}
  .hd-ham::after, .hd-ham::before {content: ''; position: absolute; width: 100%; left: 0; height: 3px; border-radius: 5px; transition: .2s;}
  .hd-ham::after {top: 0;}
  .hd-ham::before {bottom: 0;}

  .header.white .hd-tnb-li--sch {opacity: 1; visibility: visible; }
  .header.white .hd-ham::after, .header.white .hd-ham::before {background-color: #fff;}
  .header.black .hd-ham::after, .header.black .hd-ham::before {background-color: #555;}
  .header.black .hd-gnb-li a, .header.black .goog-te-gadget .goog-te-combo, .header.black .hd-tnb-li--login a, .header.white .goog-te-gadget .goog-te-combo, .header.black .hd-lang-btn {border-color: #fff; color: #fff;}
  .header.black .hd-tnb-li .hd-black {display: none;}
  .header.black .hd-tnb-li .hd-white{display: inline-block;}
  .header.black .hd-tnb-li--login .hd-my-li a {color: #666;}

  .header.white .gnb-tnb-wr.on .hd-ham::after, .header.white .gnb-tnb-wr.on .hd-ham::before {background-color: #fff;}

  .hd-gnb2-li a {color: #333 !important; font-size: clamp(1.2rem, 2vw, 20px);}

  .hd-ham.on::after, .hd-ham.on::before {background-color: #fff !important; top: 50%;}
  .hd-ham.on::after {rotate: 45deg;}
  .hd-ham.on::before {rotate: -45deg;}

  .hd-gnb2-ul {position: static; transform: translate(0); margin-top: 10px;}
  .hd-gnb-li {display: block; height: auto;}

  .tnb-ul {top: calc(100% + 10px);}

  /* main */
  .place-sl-num {font-size: 4.5rem;}

  /* 검색결과 */
  .search-result {font-size: 2.5rem;}

  /* 날갬투어 상세 */
  .nalgaem-view-top-li > * {font-size: 1rem; gap: 3px;}

  /* 날갬카페 */
  .sub-cafe-slide {gap: 3vw;}
  .sub-cafe-sl-l {width: 45%;}
  .sub-cafe-sl-r {width: calc(55% - 3vw);}
  .sub-cafe-sl-l-img {width: 100%; height: 0; padding-bottom: 70%; height: 100%;}

  /* 날갬카페 상세 */
  .cafe-menu-ul {gap: 15px; padding: 15px 0;}
  .cafe-menu-li {width: calc(100% / 4 - 45px / 4);}

}

@media screen and (max-width:1290px){
  /* header */

  /* main */
  .mainvs-arrow {display: none;}
  .mainvs-txt {font-size: 3rem;}
  .mainvs-txt > img {width: 5vw;}

  .main-tit {font-size: 2.8rem;}

  .mainsec-3 .fp-tableCell {justify-content: center; gap: 10vh 0;}
  .calendar-slider {margin: 0 90px;}
  .calendar-info {font-size: 1rem;}

  .place-slide.swiper-slide-next + .place-slide {margin-right: 20px !important;}
  .place-slider {margin: 0 calc(2vw + 100px); padding: 50px 1vw;}
  .place-arrow.prev {left: 3vw;}
  .place-arrow.next {right: 3vw;}
  .place-slider-wr.slide--0 .swiper-wrapper {gap: 0 2.5vw;}
  .place-slider-wr.slide--0  .place-slider {margin: 0; padding: 30px 3vw;}

  .mainsec-5 .main-tit-wr::after {left: -10%; bottom: -70%;}

  /* footer */
  .foot-tit {font-size: clamp(20px, 5vw, 2.5rem);}
  .foot-box {flex-direction: column-reverse;}
  .foot-info-wr {flex-direction: column;}
  .foot-info:not(:last-child)::after {display: none;}

  /* 날갬투어 */
  .place-card-ul {gap: 1.5vw;}
  .place-card-li {width: calc(100% / 4 - (1.5vw * 3) / 4);}
  .card-icon-wr {flex-direction: column-reverse; align-items: center;}
  .place-sl-mark-wr {flex-direction: column; margin-right: 0;}

  /* 날갬카페 */
  .sub-cafe-sl-info {font-size: 1rem;}
  .sub-cafe-sl-btm .cafe-sl-hash-wr {padding: max(20px, 2vw) 0;}
  .cafe-card-ul {gap: 1.5vw;}
  .cafe-card-li {width: calc(100% / 4 - (1.5vw * 3) / 4);}
  .cafe-card-li .cafe-sl-img {height: max(100px, 15vw);}
  .cafe-card-li .cafe-sl-info {padding: 10px 15px 15px;}
  .cafe-card-li .cafe-sl-hash-wr {padding-top: 10px;}
}

@media screen and (max-width:1023px){
  /* footer */
  .foot-app-link {width: auto; padding: 0 min(5vw, 20px)}
  .main-foot-top::before {width: min(15vw, 80px); height: min(15vw, 80px);}
  .main-foot-top::before {top: 50%;}

  /* main */
  .notice-sl-date {font-size: 0.9rem;}
  .notice-sl-subj {font-size: 1.125rem;}

  .main-calendar-wr::after {bottom: -30%; right: -10%;}

  .place-sl-num {font-size: 3.5rem;}

  .place-slider-wr {position: relative;}
  .place-slider {margin: 0; padding: 50px 3vw;}
  .place-arrow {top: auto; bottom: 0;}
  .place-sl-inner {padding: 25px 15px 20px; height: clamp(240px, 30vh, 350px);}
  .place-slide.swiper-slide-next + .place-slide {top: -30px;}
  .place-slider-wr.slide--0 .place-slide:nth-child(3) {top: -25px;}

  .cafe-slider {padding: 0;}
  /* .cafe-sl-info {min-height: auto;} */
  .cafe-slide.swiper-slide-active, .cafe-slide.swiper-slide-prev, .cafe-slide.swiper-slide-next {top: 0;}
  .cafe-sl-ctr-wr {padding-top: clamp(15px, 3vw, 50px);}
  .main-foot-top img {height: min(10vh, 80px);}

  /* sub */
  .sub-visual-txt-wr {margin-bottom: 0;}
  .sub-visual-txt1 {font-size: max(1.6rem, 5vw);}
  .sub-visual-txt2 {padding-top: 1vw; font-size: max(14px, 1.5vw);}
  .sub-visual-bg {padding: 0 10%;}

  /* 검색결과 */
  .search-tit-num {font-size: 1.3rem;}

  /* 날갬투어 */
  .region-sl-img {width: clamp(60px, 10vw, 80px); height: clamp(60px, 10vw, 80px);}
  .region-sl-txt {font-size: 1rem;}
  .circle-arrow {width: 45px; height: 45px;}
  .region-slider {margin: 0 55px; padding-left: 0;}
  .region-arrow {top: clamp(30px, 5vw, 40px);}
  .sub-cate-li a {font-size: 1.25rem;}
  .sub-main-tit {font-size: 1.8rem;}
  .place-card-li {width: calc(100% / 2 - 1.5vw / 2);}

  /* 날갬투어 상세 */
  .nalgaem-view-tit {font-size: 2rem;}
  .nalgaem-view-top-info {flex-direction: column; align-items: flex-start; gap: 15px 0;}
  .nalgaem-view-content-li {gap: 15px 0; padding: 20px 0;}
  .nalgaem-view-content-type.text {flex-direction: column; gap: 10px 0;}
  .nalgaem-view-content-txtbox2-li {flex-direction: column;}
  .nalgaem-view-content-info-l {width: 100%; padding-right: 0;}
  .nalgaem-view-content-info-r {gap: 10px; width: 100%;}
  .nalgaem-view-vote-subj {font-size: 1.3rem;}
  .nalgaem-btn-list {width: 150px; height: 45px;}

  /* 날갬카페 */
  .sub-cafe-slider {margin-left: 100px; margin-right: 100px;}
  .sub-cafe-slide {flex-direction: column; gap: 1.5vw;}
  .sub-cafe-sl-btm {display: flex; flex-direction: column-reverse;}
  .sub-cafe-sl-r {flex-direction: column;}
  .sub-cafe-sl-l, .sub-cafe-sl-r {width: 100%; height: auto !important;}
  .sub-cafe-sl-l-img {height: 0; padding-bottom: 50%; border-radius: 1rem;}
  .sub-cafe-sl-r {position: relative; padding-top: 10vw;}
  .sub-cafe-arrow.next, .sub-cafe-sl-in {right: 0; transform: translate(0);}
  .sub-cafe-sl-thumb {height: 10vw;}
  .sub-cafe-sl-thumbs {position: absolute; top: 0; gap: 1.5vw;}
  .sub-cafe-sl-btm .cafe-sl-hash-wr {padding: 20px 0 0;}
  .sub-cafe-sl-txt-wr {padding-top: clamp(15px, 5vw, 25px);}
  .sub-cafe-sl-info {padding-top: clamp(5px, 3vw, 10px);}
  .sub-cafe-sl-wr::after {font-size: 8vw; left: 50%; transform: translateX(-50%); width: 100%; text-align: center;}
  .cafe-card-li {width: calc(100% / 2 - 1.5vw / 2);}
  
  /* 날갬카페 상세 */
  .nalgaem-view-top-li.call {display: block;}
  .cafe-menu-name, .cafe-menu-price {font-size: 1rem;}
  .cafe-pick-btn {font-size: 14px;}
  .cafe-menu-ul {gap: 10px; padding: 10px 0;}
  .cafe-menu-li {width: calc(100% / 4 - 30px / 4);}
  .cafe-fix-info-l, .cafe-opt-price, .cafe-fix-price, .cafe-fix-price span, .cafe-fix-opt-prd, .cafe-opt-pop-li-txt {font-size: 1rem;}
  .cafe-opt-pop-name {font-size: 1.125rem;}
  .cafe-opt-pop-btn {padding: 8px 10px; min-width: 100px; font-size: 14px;}
  .cafe-fix-opt-sel {font-size: 0.9rem;}
  .cafe-opt-qty-btn {width: 25px; height: 25px;}
  .cafe-opt-qty-input {width: 35px; height: 25px; font-size: 0.9rem;}
  .cafe-opt-qty-btn::before {width: 7px;}
  .cafe-opt-qty-btn::after {height: 7px;}
  .cafe-opt-qty-wr {border-radius: 0.3rem;}
  .cafe-opt-pop-txt, .cafe-opt-pop-li .cafe-opt-sel-li input + label, .cafe-opt-sel-price-wr {font-size: 0.9rem;}
  .cafe-opt-sel-ul {gap: 8px;}
  .cafe-opt-pop-li-txt-wr {padding-bottom: 8px;}
  .cafe-opt-icon {font-size: 12px;}
  .radio-wr input[type=radio] + label:before, .check-wr input[type=checkbox] + label:before {top: -4.2px;}

  /* 공지사항 */
  .tbl_wrap table td {padding: 15px 0;}
  .tbl_wrap table .board-number, .tbl_wrap table .board-subject {font-size: 1rem;} 
  .tbl_wrap table .board-date {font-size: 0.9rem;}

  /* 이벤트 */
  .nalgaem-event-wr {display: flex; flex-wrap: wrap; gap: 30px 2vw;}
  .nalgaem-event-box {width: calc(100% / 3 - 4vw / 3);}
  .nalgaem-event-img {border-radius: 3vw;}
  .nalgaem-event-box.end .nalgaem-event-img::after {font-size: 1.125rem;}
  .nalgaem-event-tit {padding: 10px 5px 3px; font-size: 1.125rem;}
  .nalgaem-event-info {padding: 0 5px; font-size: 0.9rem;}

  /* FAQ */
  .faq-q {padding: 2.5vw 50px 2.5vw 0;}
  .faq-a {padding: 2.5vw 4vw;}
  .faq-q-tit {font-size: 1.125rem;}
  .faq-q-icon {margin-top: 0;}

  /* view */
  .nalgaem-read-info {gap: 20px;}
  .nalgaem-read-share::after {left: -10px; height: 10px;}
  .nalgaem-read-subj-wr {padding-bottom: 10px;}
  .nalgaem-read-subj {font-size: 1.6rem;}
  .nalgaem-read-date, .nalgaem-read-share {font-size: 0.9rem;}
  .nalgaem-read-share img {margin: 0 5px -3px 0; width: 20px;}
  .read-list-wr {padding: 15px 0;}
  .nalgaem-read-content {padding: clamp(25px, 3vw, 50px) min(1vw, 10px) clamp(25px, 4vw, 80px) ;}
}

@media screen and (max-width:767px){
  /* header */
  .hd-wr {height: 60px;}
  .hd-ham {width: 30px; height: 15px;}
  .hd-logo {width: 160px;}

  /* footer */
  .main-foot {padding-top: 5vh;}
  .foot-tit-wr {padding-top: 5vh;}
  .foot-app-link {font-size: max(14px, 3vw); height: max(30px, 7vw); width: auto; ;}
  .foot-app-link img {width: 4vw;}
  .foot-info, .foot-copyright {font-size: 0.9rem;}

  /* main */
  .mainvs-inner {top: 50%;}
  .mainvs-sch {height: 50px; font-size: 1.125rem;}
  .mainvs-sch-btn {width: 30px; height: 30px; right: 20px;}
  .mainvs-txt-wr {top: 50%;}
  .mainvs-txt {font-size: 2.2rem;}
  .mainvs-scroll-down {bottom: 2vh; width: min(25vw, 100px);}

  .main-tit {font-size: 2.2rem;}
  .main-subtit {padding-top: 1vw; font-size: 1rem;}

  .main-calendar-wr {border-radius: 0 0 2rem 2rem;}
  .calendar-slider {margin: 0;}
  .calendar-slider::after, .calendar-slide.today::after {top: 60%;}
  .calendar-slide {padding-bottom: 50px;}
  .calendar-arrow {top: 11.5px; width: 40px; height: 40px;}
  .calendar-date {font-size: 1.5rem;}
  .calendar-day {font-size: 0.9rem; line-height: 1;}

  .place-sl-num {font-size: 2.5rem;}
  .place-slider::before {right: 45%; bottom: 3%;}
  .main-sl-more {position: relative; bottom: -5px;}
  /* .place-slider-wr.slide--0 .swiper-wrapper {flex-direction: column; gap: 1vh 0;}
  .place-slider-wr.slide--0 .place-sl-num {display: none;}
  .place-slider-wr.slide--0 .place-slide {top: 0 !important; max-width: 100%;}
  .place-slider-wr.slide--0 .place-sl-inner {height: auto; min-height: auto;} */

  /* sub */
  .sub {margin-top: 60px;}

  .sub-sch-in {height: 50px;}
  .sub-sch-input {width: calc(100% - 35px); font-size: 1rem;}
  .sub-sch-btn {width: 35px; height: 35px;}

  .sub-paging-li.circle a {width: 35px; height: 35px;}
  .sub-paging-li.circle a img {height: 15px;}

  /* 검색결과 */
  .search-result {font-size: 1.8rem;}
  .search-tit-num {font-size: 1rem; font-weight: 700;}

  /* 날갬투어 */
  .circle-arrow {width: 35px; height: 35px; background-size: 8px !important;}
  .sub-main-tit {font-size: 1.6rem;}
  .sub-main-tit-wr {padding: 0 0 15px;}
  .sub-sch-wr {max-width: calc(100% - 18vw); margin: auto;}

  /* 날갬투어 상세 */
  .nalgaem-view-top-ul {gap: 0 10px;}
  .nalgaem-view-top-li:not(:last-child) {margin-right: 10px;}
  .nalgaem-view-top-li:not(:last-child)::after {right: -10px; height: 10px;}
  .nalgaem-view-top-li > * {font-size: 14px;}
  .nalgaem-view-tit {font-size: 1.6rem;}
  .nalgaem-view-slide {width: 60vw; height: clamp(150px, 40vw, 470px);}
  .nalgaem-view-vote-btn {width: 140px; height: 40px;}

  /* 날갬카페 */
  .sub-cafe-slider {margin: 0;}
  .sub-cafe-sl-ctr-wr {display: flex; align-items: center; justify-content: center; gap: 0 30px; padding-top: clamp(15px, 7vw, 50px);}
  .sub-cafe-arrow.prev, .sub-cafe-arrow.next, .sub-cafe-sl-in {position: static; transform: translate(0);}
  .sub-cafe-sl-thumb {border-radius: 0.7rem;}
  .sub-cafe-sl-r {padding-top: 15vw;}
  .sub-cafe-sl-thumb {height: 15vw;}
  .sub-cafe-sl-wr {padding-top: 0;}
  .sub-cafe-sl-wr::after {top: -7vw;}
  .cafe-card-li .cafe-sl-name {font-size: 1.25rem;}

  /* 날갬카페 상세 */
  .nalgaem-view-top-li.call {display: block;}
  .cafe-menu-name, .cafe-menu-price {font-size: 1rem;}
  .cafe-pick-btn {font-size: 14px;}
  .cafe-menu-inner {border-radius: 1rem;}
  .cafe-menu-info-wr {padding: 10px; gap: 10px;}
  /* .cafe-menu-ul {gap: 1.3vw;} */
  .cafe-menu-li {width: calc(100% / 3 - 20px / 3);}
  .cafe-pick-btn {height: 35px;}
  .cafe-menu-field {padding: 7px 15px;}
  .cafe-fix-info-wr {flex-direction: column; justify-content: center; align-items: flex-start;}
  .cafe-opt-pop-btn {padding: 6px 8px; min-width: 80px; font-size: 13px;}
  .cafe-fix-btn-wr {position: absolute; top: 50%; right: 0; transform: translateY(-50%); gap: 5px;}
  .cafe-fix-info-l, .cafe-opt-price, .cafe-fix-price, .cafe-fix-price span, .cafe-fix-opt-prd {font-size: 14px;}
  .cafe-fix-info-l {width: calc(100% - 170px);}
  .cafe-fix-opt-sel {font-size: 12px;}
  .btn-mini {padding: 4px 5px; font-size: 12px;}
  .cafe-fix-opt-name {font-size: 1.125rem;}
  .cafe-fix-opt-li {padding: 10px 0;}
  .cafe-fix-in.select.on.open .cafe-fix-opts {padding-top: 15px;}
  .cafe-fix-opt-ul {margin: 10px -10px 0; padding: 0 10px;}
  .cafe-fix-in {border-radius: 0.5rem 0.5rem 0 0;}
  .cafe-opt-icon {padding: 0px 6px;}
  .cafe-opt-pop-total {font-size: 1rem;}
  .cafe-opt-pop-total > .cafe-opt-pop-price {margin-left: 5px; font-size: 1.125rem;}
  .pop-close-btn {width: 20px; height: 20px; right: 20px;}
  .pop-close-btn::before {width: 1px;}
  .pop-close-btn::after {height: 1px;}
  .cafe-opt-pop-btn-wr {gap: 5px;}
  .anchor {scroll-margin-top: 100px;}
  .menu-mo-slider {display: block; position: fixed; top: 60px; left: 0; width: 100%; background-color: #fff; opacity: 0; height: 0; padding: 0; transition: opacity .3s;}
  .menu-mo-slider.on {opacity: 1; height: auto; padding: 10px 3vw;}
  /* .menu-mo-slider > .swiper-wrapper {gap: 0 5px; overflow-x: auto;} */
  .menu-mo-slide {padding: 6.5px 15.5px; width: auto; border-radius: 50px; border: 1px solid #e5e5e5;}
  .menu-mo-slide a {font-weight: 500;}
  .menu-mo-slide.on {background-color: #333;}
  .menu-mo-slide.on a {color: #fff;}
  /* .menu-mo-slide:first-child {margin-left: 3vw;}
  .menu-mo-slide:last-child {margin-right: 3vw;} */

  /* 내위치찾기 */
  .location-sidebar {display: flex; width: 100%; left: 0; bottom: calc(-250px); width: 100%; height: 250px;}
  .location-sidebar.open {top: auto; bottom: 0;} 
  .location-sidebar.close {left: 0; top: auto; bottom: -250px;}
  .location-top-wr {justify-content: center; gap: 25px; padding: 40px 10px 80px;}
  .location-result-wr, .location-top-wr {flex: 1; width: 50%; height: 100%;}
  .location-sidebar-handle-wr {top: 0; left: 50%; transform: translate(-50%, -100%);}
  .location-sidebar-handle {box-shadow: 0 -3px 5px 2px rgba(0, 0, 0 , .1); width: 45px; height: 24px; border-radius: 0.5rem 0.5rem 0 0;}
  .location-sidebar-handle img {rotate: 90deg;}
  .location-cate-wr {gap: 0; justify-content: space-between;}
  .location-result-img {width: 70px; height: 70px;}
  .location-result-tit {font-size: 1rem;}
  .location-result-info {width: calc(100% - 70px - 13px);}
  .location-sidebar.open .location-find-btn {left: 50%;}
  .location-cate-img {width: 40px; height: 40px;}
  .location-cate-txt {font-size: 14px;}
  .location-result-txt {padding: 5px 10px;}
  .location-result-li {padding: 10px;}
  .location-result-cate {font-size: 12px;}
  .location-me span {font-size: 1.125rem;}
  .location-result-ul {height: calc(100% - 34px);}

  /* 공지사항 */
  .tbl_wrap {padding-top: 0;}
  .nalgaem-event-tit, .nalgaem-event-box.end .nalgaem-event-img::after {font-size: 1rem;}

  /* FAQ */
  .faq-li {padding: 0;}
  .faq-q {gap: 0 10px; padding: 3vw; padding-right: 30px; background-size: 12px; background-position: center right 2vw;}
  .faq-q-tit {font-size: 1rem;}
  .faq-a-inner {gap: 0 10px;}
  .faq-a {padding: 2vw 3vw; border-radius: 0.4rem;}
  .faq-q-icon {margin-top: -2px;}
}

@media screen and (max-width:480px){
  body, html {font-size: 14px;}
  /* header */
  .hd-logo {width: 140px;}
  .hd-wr {height: 50px;}
  .hd-ham {width: 30px; height: 15px;}
  .hd-ham::after, .hd-ham::before {height: 2px;}
  .hd-tnb-li--sch {top: 10px;}
  .hd-sch {height: 40px; padding: 0 40px 0 15px;}
  .hd-sch-btn {width: 20px; height: 20px; right: 10px;}
  .hd-tnb-ul {width: 100%; flex-direction: column; gap: 20px;}
  .hd-tnb-li--lang {order: 3;}
  .hd-tnb-li--store a, .goog-te-gadget .goog-te-combo {width: 130px;}
  .hd-tnb-li--store a {text-align: center;}
  /* .hd-tnb-li--login a {font-size: 1.4rem;} */

  /* footer */
  .main-foot-top {top: auto; bottom: 10vw; right: 3vw; animation: none;}
  .foot-box {padding-top: clamp(10px, 5vh, 40px); padding-bottom: min(5vh, 40px);}
  .sub-foot::after {right: 3vw;}

  /* main */
  .mainvs-txt {font-size: 1.7rem;}
  .mainvs-sch {height: 40px; padding: 0 40px 0 15px; font-size: 1rem;}
  .mainvs-sch-btn {width: 20px; height: 20px; right: 10px;}

  .main-tit-wr {padding-bottom: 5vw;}
  .main-tit {font-size: 1.7rem;}

  .live-slider {padding: 5vw 3vw 0;}
  .live-slider::after {top: 2%; left: -4%;}
  .live-slide.swiper-slide-active {transform: scale(1);}
  .live-sl-ctr-wr {padding-top: 5vh;}

  .mainsec-3 {position: relative;}
  .mainsec-3 .fp-tableCell {position: absolute; top: calc(50%); left: 0; transform: translateY(-50%); padding-top: 0; padding-bottom: 0; justify-content: space-between;   height: auto; height: 500px !important; max-height: calc(100vh - 100px); gap: 1vh;}
  .calendar-slide {padding-bottom: 35px;}
  .calendar-slider::after, .calendar-slide.today::after {top: 65%;}
  .calendar-slide.today::after {width: 5px; height: 5px;}
  .calendar-arrow {top: 9px; width: 30px; height: 30px; background-size: 7px !important;}
  .notice-slider {padding: 0 1px; margin: 0;}
  .notice-slide {max-width: calc(100% - 0.2px) !important; margin-left: 0.3px;}

  .place-sl-num {font-size: 2rem;}
  .place-arrow {bottom: 10%;}
  .place-slide.swiper-slide-next, .place-slide.swiper-slide-next + .place-slide {top: 0;}

  .cafe-sl-hash-wr {padding-top: 10px;}
  .cafe-sl-info {padding: 15px 15px 20px; min-height: 130px;}

  .place-sl-mark-wr {margin-top: 0;}
  .live-fav-btn {width: 45px; height: 45px;}

  /* sub */
  .sub {margin-top: 50px; padding-bottom: 20vw;}

  .sub-main-wr:not(:last-child) {padding-bottom: 15vw;}
  /* .sub-main-tit-wr {flex-direction: column; align-items: flex-start;} */
  .sub-main-tit {font-size: 1.35rem;}
  .sub-main-more {margin-bottom: 0;}

  .sub-paging-li.circle a {width: 30px; height: 30px;}
  .sub-paging-li.circle a img {height: 10px;}
  .sub-paging-li.start {margin-right: 5px;}
  .sub-paging-li.prev {margin-right: 10px;}
  .sub-paging-li.end {margin-left: 5px;}
  .sub-paging-li.next {margin-left: 10px;}
  
  /* 검색결과 */
  .search-result {font-size: 1.35rem;}
  .search-tit-num {font-size: 0.9rem; font-weight: 700;}

  /*  날갬투어 */
  .region-slider {margin: 0 calc(5px + 12vw);}
  .sub-cate-li a::after {width: 7px; height: 7px; top: -12px;}
  .sub-sch-btn {width: 30px; height: 30px; background-size: 15px;}

  .place-sl-field {padding: 5.5px 17.5px; border-radius: 1.7rem 0 1.7rem 0; font-size: 0.9rem}
  .place-card-ul {gap: 5vw;}
  .place-card-li {width: 100%;}
  .card-icon-wr {gap: 6px;}
  .place-sl-mark {width: 35px; height: 35px;}
  .place-sl-inner {padding-top: 60px; border-radius: 1.55rem; height: auto;}
  .quick-banner {top: auto; bottom: 3vw; right: 0; transform: translate(0);}
  .place-sl-condition, .place-sl-mark {font-size: 0.9rem;}
  .place-sl-sky-wr .place-sl-sky {font-size: 1.25rem;}

  .sub-list-order-ul {gap: 0 15px;}
  .sub-list-order-li:not(:last-child)::after {right: -8px;}

  /* 날갬투어 상세 */
  .nalgaem-view-tit-wr {flex-direction: column; align-items: flex-start; gap: 10px;}
  .nalgaem-view-top-info {padding-top: 10px;}
  .nalgaem-view-top {margin-bottom: 20px;}
  .nalgaem-view-vote-ul {gap: 5px;}
  .nalgaem-view-vote-li input[type=radio] + label {padding: 5px 30px;}
  .nalgaem-view-vote-cnt-in.af .nalgaem-view-vote-li input[type=radio] + label {padding: 5px 15px;}
  .nalgaem-view-vote-cnt-in.bf .nalgaem-view-vote-li input[type=radio] + label::after {width: 22px; height: 22px; left: 4px;}
  .nalgaem-view-vote-btn {width: 120px; height: 35px;}

  /* 날갬카페 */
  .cafe-sl-hash {font-size: 12px;}
  .cafe-sl-inner {border-radius: 1.55rem;}
  .cafe-card-li {width: 100%;}
  .cafe-card-ul {gap: 5vw;}

  /* 날갬카페 상세 */
  .cafe-menu-li {width: calc(100% / 2 - 10px / 2);}
  .cafe-pick-btn {max-width: 100px; height: 30px; font-size: 12px;}
  .cafe-pick-btn img {width: 18px;}
  .nalgaem-view-top-li > * {font-size: 12px;}
  .nalgaem-view-status {padding: 4px 10px;}
  .nalgaem-view-top-li img {margin-right: 0;}
  .nalgaem-view-weather img {width: 24px;}
  .nalgaem-view-bookmark img {width: 16px;}
  .nalgaem-view-share img {width: 18px;}
  .nalgaem-view-call img {width: 18px;}
  .nalgaem-view-top-li:first-child {margin-right: 0;}
  .nalgaem-view-top-li:first-child.call {margin-right: 10px;}
  .cafe-fix-in-show {height: 60px;}
  .cafe-fix-price {font-size: 12px;}
  .cafe-fix-price span {margin-left: 5px;}
  .cafe-fix-info-l {width: calc(100% - 130px); font-size: 0;}
  .cafe-fix-info-l b {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px;}
  .cafe-fix-opt-img {display: none;}
  .cafe-fix-opt-r {flex-direction: column-reverse; align-items: flex-end; position: relative;}
  .cafe-opt-del-btn {position: absolute; top: 1px; width: 13px; height: 13px;}
  .cafe-opt-del-btn::after {height: 1px;} 
  .cafe-opt-del-btn::before {width: 1px;} 
  .cafe-opt-price {padding-right: 25px; font-size: 12px;}
  .cafe-opt-qty-btn {width: 20px; height: 20px;}
  .cafe-opt-qty-input {width: 25px; height: 20px;}
  .cafe-opt-pop-btn {padding: 4px 8px; min-width: 50px; font-size: 12px;}
  .cafe-opt-pop-img {display: none;}
  .cafe-opt-pop {padding: 5px 5px 20px;}
  .radio-wr input[type=radio] + label:before, .check-wr input[type=checkbox] + label:before {width: 16px; height: 16px; top: -2.5px;}
  .radio-wr input[type=radio] + label, .check-wr input[type=checkbox] + label {padding-left: 25px;}
  .radio-wr input[type=radio]:checked + label:after {left: 4px; top: 1px; width: 10px; height: 10px;}
  .cafe-opt-pop-ul-wr, .cafe-opt-pop-total-wr {padding: 0 5px;}
  .cafe-opt-pop-ul-wr {max-height: 50vh;}
  .cafe-opt-pop-top {margin: 0 5px;}
  .cafe-opt-pop-quantity {margin: 0 5px 15px; border-bottom-width: 1px;}
  .cafe-fix-bar.abs {bottom: -22vw;}
  .anchor {scroll-margin-top: 80px;}
  .menu-mo-slider {top: 50px;}
  .menu-mo-slider.on {padding: 5px 3vw;}
  .menu-mo-slide a {font-size: 0.9rem;}

  /* 내위치찾기 */
  .sub-sch-in {height: 40px;}
  .location-wr {top: 50px;}
  .location-sidebar {flex-direction: column; height: clamp(200px, 60vh, 500px);}
  .location-result-wr, .location-top-wr {flex: auto;}
  .location-top-wr {width: 100%; height: 150px; gap: 10px; padding: 0 10px 20px; flex-shrink: 0;}
  .location-result-wr {width: 100%; height: calc(100% - 150px); flex-shrink: 0;}
  .location-cate-img {width: 35px; height: 35px;}
  .location-cate-img img {height: 60%;}
  .location-cate-txt {top: calc(100% + 4px); font-size: 12px;}
  .location-me img {width: 12px;}
  .location-me span {font-size: 1rem;}
  .location-cate-wr {justify-content: flex-start; gap: 5vw;}
  .location-result-ul {height: calc(100% - 31px);}
  .location-sidebar.close {bottom:  clamp(-350px, -60vh, -200px);}
  .location-find-btn {top: 60px;}

  /* 공지사항 */
  .tbl_wrap table .board-number {display: none;}
  .tbl_wrap table tr.notice td {background-color: #f9f9f9;}
  .tbl_wrap table .board-subject {padding-right: 10px;}

  /* 이벤트 */
  .nalgaem-event-box {width: 100%;}
  .nalgaem-event-img {height: 50vw;}
  .nalgaem-event-tit, .nalgaem-event-box.end .nalgaem-event-img::after {font-size: 1.25rem;}

  /* view */
  .nalgaem-read-subj-wr {flex-direction: column; align-items: flex-start; gap: 5px 0;}
}



