/*초기화*/
* {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-break: keep-all;}
html,body{max-width: 100%; min-height: 100%;}
html{overflow-x: hidden; -webkit-text-size-adjust: none;}
body{-webkit-print-color-adjust:exact; font-family: 'Pretendard'; font-style: normal; font-size: 1rem; font-weight: 300; color: #333; line-height: 1.5;}
ul, li, dl,dt,dd {margin:0;padding:0;list-style:none}
a{color:#333;text-decoration:none;}
img {border: 0; font-size: 0; max-width: 100%;}
h1, h2, h3, h4, h5, h6{font-size:1em;font-family: 'Pretendard';}
textarea, select{font-family: 'Pretendard';font-size:1em}
input, button{margin:0;padding:0;font-family: 'Pretendard';font-size:1em}
input[type="submit"], button{cursor:pointer}
table, tr, td { border-collapse: collapse;}
p{word-break: keep-all;}
input{border-radius: 0;}

/*폰트 설정 class*/
.f_noto{font-family: 'Noto Sans KR', sans-serif;}
.f_mont{font-family: 'Montserrat', sans-serif;}

/*컨텐츠 가이드라인*/
.wrapper {width: calc(1600px + 6vw); max-width: 100%; padding: 0 3vw; margin: 0 auto;}
.subwr {width: 1280px; max-width: 100%; margin: 0 auto;}
.gallwr {width: 1600px; max-width: 100%; margin: 0 auto;}

/* arrow symbol */
i.arrow{display: inline-block; border: solid #000; border-width: 0 1px 1px 0; padding: 10px;}
i.up{transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg);}
i.down{transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);}
i.right{transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg);}
i.left{transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg);}

/* input radio */
.radio-wr input[type=radio]{display: none;}
.radio-wr input[type=radio] + label{display: inline-block; cursor: pointer; position: relative; padding-left: 28px; font-size: 1rem; font-weight: 300; color: #333; line-height: 1;}
.radio-wr input[type=radio] + label:before{content: ""; display: inline-block; width: 18px; height: 18px; position: absolute; left: 0; bottom: -1px; z-index: 1; border: 1px solid #999999; border-radius: 50%;}
.radio-wr input[type=radio]:checked + label:before{border-color: #00E8E8;}
.radio-wr input[type=radio]:checked + label:after{content: ""; display: inline-block; position: absolute; left: 5px; top: 2px; width: 10px; height: 10px; border-radius: 50%; background-color: #00E8E8; z-index: 2;}

/* input checkbox */
.check-wr > * {vertical-align: middle;}
.check-wr input[type=checkbox]{display: none;}
.check-wr input[type=checkbox] + label{display: inline-block; cursor: pointer; position: relative; padding-left: 28px; font-size: 1rem; font-weight: 300; color: #333; line-height: 1;}
.check-wr input[type=checkbox] + label:before{content: ""; display: inline-block; width: 18px; height: 18px; position: absolute; left: 0; bottom: -1px; z-index: 1; border: 1px solid #999999; border-radius: 2px;}
.check-wr input[type=checkbox]:checked + label:before{border-color: #00E8E8; background: #fff url('/source/img/icon-radio_check.png') no-repeat center / 80%;}


/* cut text */
.cut_text{
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/* sound only */
.sound_only{display: inline-block; position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; border: 0; overflow: hidden;}

/*팝업레이어*/
#hd_pop {z-index:9999;position:relative;margin:0 auto;width:100%;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #ddd;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}
.sound_only {display:inline-block;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0 !important;line-height:0 !important;overflow:hidden}


/* 테마 설정 */
/* buttons */
.btn_group {position:static !important;margin:0;padding:0;}
.btn_group .btn_small{margin-left:-1px;padding:2px 6px !important;}
.btn_group .btn_small:first-child {margin-left:0 !important;}

.btn_ssmall, .btn_small, .btn_lsmall, .btn_medium, .btn_large, .btn_txt, .btn_letter {
	display:inline-block;
	text-decoration:none !important;
	vertical-align:middle !important;
	font-family:inherit;
	white-space:nowrap;
	cursor:pointer;
	background:transparent;
	text-align:center;
	border-radius:0;
	outline:0;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
 }

.btn_ssmall {
	padding:1px 5px;
	font-size:11px;
	line-height:1.222;
	font-weight:normal !important;
}

.btn_small {
	padding:2px 8px;
	font-size:11px;
	line-height:1.555;
	font-weight:normal !important;
}

.btn_lsmall {
	padding:3px 10px;
	
	line-height:1.666;
	font-weight:normal !important;
}

.btn_medium {
	padding:8px 15px;
	font-size:13px;
	line-height:1.444;
	font-weight:600;
}

.btn_large {
	padding:10px 21px;
	font-size:15px;
	line-height:1.222;
	font-weight:600;
}

.btn_ssmall,
.btn_small,
.btn_lsmall,
.btn_medium,
.btn_large {
	background:#333;
	border:1px solid #333;
	color:#fff !important;
}

.btn_ssmall:hover,
.btn_small:hover,
.btn_lsmall:hover,
.btn_medium:hover,
.btn_large:hover {
	background:#222;
	border:1px solid #222;
	color:#fff !important;
}

.btn_letter {width:78px;height:76px;font-size:13px;font-weight:600;line-height:1.333;color:#fff !important;background:#777;}
a.btn_letter {padding-top:19px;}

/*box*/
.bx-white {background:#fff;border:1px solid #ccc;color:#222 !important;}
.bx-white:hover {background:#fff;border:1px solid #222;color:#222 !important;}
.bx-black {background:#fff;border:1px solid #222;color:#222 !important;}
.bx-black:hover {background:#222;border:1px solid #222;color:#fff !important;}
.bx-grey {background:#f8f8f8;border:1px solid #ccc;color:#666 !important;}
.bx-grey:hover {background:#999;border:1px solid #999;color:#fff !important;}
.bx-green {background:#fff;border:1px solid #26c281;color:#26c281 !important;}
.bx-green:hover {background:#26c281;border:1px solid #26c281;color:#fff !important;}
.bx-yellow {background:#fff;border:1px solid #e87e04;color:#e87e04 !important;}
.bx-yellow:hover {background:#e87e04;border:1px solid #e87e04;color:#fff !important;}
.bx-red {background:#fff;border:1px solid #ef4836;color:#ef4836 !important;}
.bx-red:hover {background:#ef4836;border:1px solid #ef4836;color:#fff !important;}
.bx-blue {background:#fff;border:1px solid #4b77be;color:#4b77be !important;}
.bx-blue:hover {background:#4b77be;border:1px solid #4b77be;color:#fff !important;}

/*txt button*/
.btn_txt {height:18px;line-height:1.6;font-weight:normal;color:#999 !important;letter-spacing:0;}
.btn_txt i {margin-left:5px;}

/*mobile_box*/
.bx-grey2 {background:transparent;border:1px solid #888;color:#bbb !important;}
.bx-grey2:hover {background:transparent;border:1px solid #fff;color:#fff !important;}


/*폼*/
/* .frm_input,input[type=file] {height:23px;} */
.frm_input {padding:5px 10px;font-weight:normal;border:1px solid #ddd;background-color:#fff;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
.frm_textbox {padding:4px;line-height:1.4;font-weight:normal;border:1px solid #ddd;background-color:#fff;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
.frm_input:focus,.frm_textbox:focus {border:1px solid #2d85f2;}
.multiple-select {width:100%;height:100px !important;}
.multiple-select2 {width:100%;height:380px !important;}
form {margin:0;}


/*버튼*/
.btn_confirm {margin-top:20px;text-align:center;}
.btn_confirm .btn_small.fa-caret-up {font-size:17px;padding:1px 8px 3px;}
.btn_confirm .btn_small.fa-caret-down {font-size:17px;padding:2px 8px;}
.btn_confirm a,.btn_confirm input,.btn_confirm button{margin:0 1.5px;}
.btn_confirm02 {margin-top:8px;margin-bottom:0;text-align:center;}
.btn_confirm02 a,.btn_confirm02 input,.btn_confirm02 button{margin:0 1.5px;}
.btn_confirm03 {margin-top:8px;margin-bottom:8px;text-align:center;}
.btn_confirm03 a,.btn_confirm03 input,.btn_confirm03 button{margin:0 1.5px;}

.wfull{width:100%}
.hfull{height:100%}
.whalf{width:50%}
.hhalf{height:50%}


/*기본테이블*/
.tbl_wrap table {width:100%;}
.ini_wrap table {width:auto !important;}
.ini_wrap table td {padding:0; border:0 !important;}

/*가로형 테이블 (중간에 라인없음)*/
/* .tbl_head01 {border-top:1px solid #666;border-bottom:1px solid #e4e5e7;} */
.tbl_head01 thead th {border-top:0 !important;text-align:center;}
.tbl_head01 th {padding:9px 0;line-height:1em;font-weight:600;vertical-align:middle;}
.tbl_head01 th,.tbl_head01 td {}
.tbl_head01 td {padding:9px;text-align:left;line-height:1.4;border-top:1px solid #e4e5e7;word-break:break-all;}
.tbl_head01 tfoot {background-color:#f8f8f8 !important;}
.tbl_head01 tfoot th,.tbl_head01 tfoot td {border-top:1px solid #e4e5e7 !important;}

/*가로형 테이블 (중간에 라인있음)*/
.tbl_head02 {border-top:1px solid #666;border-bottom:1px solid #e4e5e7;}
.tbl_head02 thead th {border-top:0 !important;text-align:center;}
.tbl_head02 thead tr.rows th {border-top:1px solid #e4e5e7 !important;}
.tbl_head02 th {padding:9px 0;line-height:1em;font-weight:600;}
.tbl_head02 th,.tbl_head02 td {border-left:1px solid #e4e5e7;vertical-align:middle;}
.tbl_head02 td {padding:9px;text-align:left;line-height:1.4;border-top:1px solid #e4e5e7;word-break:break-all;}
.tbl_head02 tfoot {background-color:#f8f8f8 !important;}
.tbl_head02 tfoot th,.tbl_head02 tfoot td {border-top:1px solid #e4e5e7 !important;}
.tbl_head02 tr:not(.rows) th:first-child,
.tbl_head02 tr:not(.rows) td:first-child {border-left:0 !important;}

/*폼 테이블*/
/* .tbl_frm01 {border-top:1px solid #666;} */
.tbl_frm01 table {width:100%;}
.tbl_frm01 th,
.tbl_frm01 td {padding:8px 14px;height:22px;border-bottom:1px solid #ddd;text-align:left;vertical-align:middle;}
.tbl_frm01 th {font-weight:600;}
.tbl_frm01 .frm_address {margin-top:5px;}

.tbl_frm02 {width:100%;}
.tbl_frm02 th {padding:7px 20px;border:1px solid #e8e8e8;background-color:#fafafa;font-weight:600;text-align:left;}
.tbl_frm02 td {padding:5px 10px;text-align:left;border:1px solid #e8e8e8;background:transparent;}
.tbl_frm02 textarea {padding:2px 2px 3px;border:1px solid #ccc;color:#454545;vertical-align:middle;line-height:1.4;}
.tbl_frm02 textarea {width:100%;height:140px;}